*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
.wrapper{
    display: flex;
}
.wrapper .txt{
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .run-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.run-text li{
    list-style: none;
    color: cyan;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top:0;
}